
a:link {
    color: orange; border-style: solid;  text-decoration: none;
}

a:visited {

    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: purple;
}

body{
    background-color:cyan;
}

#explain{
  background-color: yellow;
}
div > p{
  color: blue;
}

.intro{
  background-color: orange ;
}
